Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
Python
R
SQL
Java
Julia
Scala
C/C++

Some of the commonly used libraries used by Data Scientists include:
Tensor Flow
PyTorch
NumPy
Pandas
SciPy

Data Science Tools:
Apache Spark
SAS
Keras
RStudio
Apache Hadoop

Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
min=200
hours=int(min/60)
print("Minutes to hours:",hours,"hrs")

Minutes to hours: 3 hrs

Objectives:
>Python
>SQL
>R
>C
>Julia

Author
Bhuvana